.gradient-1
  background: linear-gradient(to top right,#3e2ab2,#9c57cb)

.gradient-2
  background: linear-gradient(to left top, rgb(0, 227, 174, 0.7), rgb(155, 225, 93, 0.7))

.gradient-3
  background: linear-gradient(45deg , rgb(253, 85, 144, 0.7), rgb(247, 112, 98, 0.7))

.gradient-4
  background: linear-gradient(40deg , rgb(252, 96, 118, 0.7), rgb(255, 153, 68, 0.7))